* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}

@media all and (max-width:  480px) {
	#options_container {
		position: relative;
		margin: 65px auto 0 auto;
		padding: 20px 20px;
		width: 80%;
		height: 190px;
		border: solid 1px #cccccc;
		border-radius: 10px;
		box-shadow: 0px 0px 20px #bfbfbf;
	}
}

@media all and (min-width:  500px) {
	#options_container {
		position: relative;
		margin: 100px auto 0 auto;
		padding: 20px 40px;
		width: 500px;
		height: 190px;
		border: solid 1px #cccccc;
		border-radius: 10px;
		box-shadow: 0px 0px 20px #bfbfbf;
	}
}

#options_container .header {
	display: block;
	width: 100%;
	font-size: 24px;
	color: #ff0000;
	border-bottom: solid 1px #8D8D8D;
	padding-bottom: 10px;
}

#options_container .content {
	display: block;
	width: 100%;
	padding-top: 20px;
}

#options_container .content .preference {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#options_container .content .preference .pref_name {
	float: left;
	padding-top: 3px;
}

#options_container .content .preference .pref_value {
	float: right;
}

#options_container .content .preference .pref_value input[type=text] {
	padding: 1px;
}

#options_container .content .button {
    color: #ffffff;
    display: inline-block;
	float: right;
	margin-top: 30px;
    padding: 4px 12px;
    cursor: pointer;          
    border: solid 1px #C12424;
    border-radius: 4px;
    background: #DD3E3E;
    background-image: -o-linear-gradient(top, #DD3E3E 0%, #C12424 100%); 
}

#options_container .content .button:hover,
#options_container .content .button:focus {
    background-image: -o-linear-gradient(top, #C12424 0%, #DD3E3E 100%); 
}

#options_container .content .button[disabled] {
	background-image: -o-linear-gradient(top, #e6e6e6 0%, #c7c7c7 100%);
	border: solid 1px #c7c7c7;
}