* {
	margin: 0;
	padding: 0;
	outline: 0;
}

@media all and (min-width:  76px) { #feeds_container .single_feed .single_feed_title { display: none; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 50%; } }
@media all and (min-width: 102px) { #feeds_container .single_feed .single_feed_title { display: none; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 50%; } }
@media all and (min-width: 128px) { #feeds_container .single_feed .single_feed_title { display: none; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 50%; } }
@media all and (min-width: 154px) { #feeds_container .single_feed .single_feed_title { display: none; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 50%; } }
@media all and (min-width: 179px) { body { font-size: 60%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 50%; } }
@media all and (min-width: 205px) { body { font-size: 60%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 60%; } }
@media all and (min-width: 230px) { body { font-size: 70%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 70%; } }
@media all and (min-width: 256px) { body { font-size: 70%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 70%; } }
@media all and (min-width: 281px) { body { font-size: 80%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 80%; } }
@media all and (min-width: 307px) { body { font-size: 90%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 90%; } }
@media all and (min-width: 334px) { body { font-size: 100%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 358px) { body { font-size: 100%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 384px) { body { font-size: 100%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 410px) { body { font-size: 110%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 435px) { body { font-size: 110%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 461px) { body { font-size: 110%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 486px) { body { font-size: 120%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }
@media all and (min-width: 512px) { body { font-size: 120%; } #feeds_container .single_feed .single_feed_title { display: block; } #feeds_container .single_feed .single_feed_banner img { display: block; width: 100%; } }

body {
	background-color: #000000;
	font-family: Arial, Helvetica;
	color: #ffffff;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.active {
	display: block !important;
}

#splash_screen_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

#splash_screen_container img {
	width: 100%;
}

#loader_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}

#loader_container img {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
}

#feeds_container {
	width: 100%;
	height: 100%;
	display: none;
}

#feeds_container .single_feed {
	display: block;
	float: left;
}

#feeds_container .single_feed .single_feed_banner {
	position: absolute;
	left: 0px;
	top: 0px;	
	display: block;
	width: 93px;
	z-index: 10000;
}

#feeds_container .single_feed .single_feed_banner img {
	position: absolute;
	left: 10px;
	top: 10px;
}

#feeds_container .single_feed .single_feed_img {
	position: absolute;
	left: 0px;
	top: 0px;	
	display: block;
	width: 100%;
	height: 100%;	
}

#feeds_container .single_feed .single_feed_img img {
	width: 100%;
	height: 100%;
}

#feeds_container .single_feed .single_feed_title {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	width: 97%;
}

#error_container {
	height: 100%;
	color: #ff0000;
	font-size: 14px;
	padding: 10px;
}